body {
  margin: 0;
  padding: 0;
  font-family: Verdana, sans-serif;
  background-color: #fff6ed;
  color:#f28a1f;
}

/* Contenedor principal */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 60px;
  box-sizing: border-box;
}

/* Sección de texto */
.text-section {
  width: 50%;
  padding-right: 40px;
}

/* Título */
.text-section h1 {
  font-family: Arial, sans-serif;  /* Cambiado a Arial */
  font-size: 6rem;
  margin-bottom: 30px;
  line-height: 1.1;
  color: #f28a1f;
  text-transform: uppercase;
}

/* Párrafos */
.text-section p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

/* Botón */
button {
  font-family: Verdana, sans-serif;  /* Cambiado a Verdana */
  margin-top: 20px;
  background-color: #f28a1f;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 30px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #cf6f0e;
}

/* Imagen */
.image-section {
  width: 40%;
  text-align: center;
}

.image-section img {
  width: 100%;
  max-width: 500px;
}
